<head>
    <style>
        a{
            color: black;
            display: inline;
            margin-right: 10px;
            font-family: monospace;
        }
        a:hover {
  background-color: rgb(102, 165, 224);
}
    </style>
</head>
<body>
<center><h1>FAQ's</h1>
<form name ="faqdetailname" action="faqdetail" method="POST">
    {% csrf_token %}
    <input style="width: 300px;" type="text" name="texfld" placeholder="Enter your ailment"/>
    <input type="submit" value="submit"/>
</form>
</center>
</body>