<!doctype html>
<html lang="en">
{% load staticfiles %}
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script>document.getElementsByTagName("html")[0].className += " js";</script>
  <link rel="stylesheet" href="{% static 'chat/assets/css/style.css' %}">
  <title>FAQ </title>
</head>
<body>
<header class="cd-header flex flex-column flex-center">
  <div class="text-component text-center">
    <h1>Palliative Care</h1>
    <p>👈 <a class="cd-article-link" href="https://codyhouse.co/gem/css-faq-template"></a></p>
  </div>
</header>

<section class="cd-faq js-cd-faq container max-width-md margin-top-lg margin-bottom-lg">
	<ul class="cd-faq__categories">
		<li><a class="cd-faq__category cd-faq__category-selected truncate" href="#basics">Basics</a></li>
		<li><a class="cd-faq__category truncate" href="#mobile">What is palliative</a></li>
		<li><a class="cd-faq__category truncate" href="#account">Ontario Palliative Care</a></li>
		<li><a class="cd-faq__category truncate" href="#payments">Care provider</a></li>
		<li><a class="cd-faq__category truncate" href="#privacy">Funding Information</a></li>
		
	</ul> <!-- cd-faq__categories -->

	<div class="cd-faq__items">
		<ul id="basics" class="cd-faq__group">
			<li class="cd-faq__title"><h2>Basics</h2></li>
			<li class="cd-faq__item">
				<a class="cd-faq__trigger" href="#0"><span>What is Hospice Palliative Care?</span></a>
				<div class="cd-faq__content">
          <div class="text-component">
            <p>Hospice palliative care aims to relieve suffering and improve the quality of living and dying by helping individuals and families.  It addresses physical, psychological, social, spiritual and practical issues as well as associated expectations, needs, hopes and fears.  By treating all active issues and preventing new issues from occurring it provides opportunities for meaningful and valuable experiences as well as personal and spiritual growth.  It helps patients and their families prepare for and manage the end-of-life choices, the dying process and cope with loss and grief.</p>
          </div>
				</div> <!-- cd-faq__content -->
			</li>

			<li class="cd-faq__item">
				<a class="cd-faq__trigger" href="#0"><span>What is the difference between the terms Palliative Care, Hospice Palliative Care and Hospice?</span></a>
				<div class="cd-faq__content">
          <div class="text-component">
            <p>
			Hospice palliative care is a philosophy of care that aims to relieve suffering and improve the quality of living and dying. It is appropriate for any individual and/or family living with, or at risk of developing, a life-threatening illness. It includes end-of-life care, but is not limited to the time immediately preceding death.

Palliative care is often used interchangeably with hospice palliative care.

Hospice is used to describe a variety of specific services, supports and care settings. Residential hospices create a home-like environment for patients who are at the end of their lives and need constant, sometimes intensive, care.  In contrast, visiting hospices offer care through out-patient facilities or by travelling to a patient’s home.
			</p>
			</div>
				</div> <!-- cd-faq__content -->
			</li>

			<li class="cd-faq__item">
				<a class="cd-faq__trigger" href="#0"><span>What is the current state of palliative care in Ontario?</span></a>
				<div class="cd-faq__content">
          <div class="text-component">
            <p>
			Of the patients who received palliative care:

About half (47.9%) began receiving palliative care in their last month of life
Nearly two-thirds (64.9%) died in hospital
About one-quarter (25.8%) spent half or more of their last month of life in hospital
Nearly two-thirds (62.7%) had unplanned emergency department visits in their last month of life
Less than half (43.3%) received palliative home care services in their last month of life
About one-third (34.4%) received a home visit from a doctor in their last month of life
			</p></div>
				</div> <!-- cd-faq__content -->
			</li>

		
		</ul> <!-- cd-faq__group -->

		<ul id="mobile" class="cd-faq__group">
			<li class="cd-faq__title"><h2>What is palliative</h2></li>
			<li class="cd-faq__item">
				<a class="cd-faq__trigger" href="#0"><span>Why were the Local Health Integration Networks and CCO given primary accountability in your leadership?</span></a>
				<div class="cd-faq__content">
          <div class="text-component">
            <p>Hospice palliative care aims to relieve suffering and improve the quality of living and dying by helping individuals and families.  It addresses physical, psychological, social, spiritual and practical issues as well as associated expectations, needs, hopes and fears.  By treating all active issues and preventing new issues from occurring it provides opportunities for meaningful and valuable experiences as well as personal and spiritual growth.  It helps patients and their families prepare for and manage the end-of-life choices, the dying process and cope with loss and grief.</p>
          </div>
				</div> <!-- cd-faq__content -->
			</li>

			<li class="cd-faq__item">
				<a class="cd-faq__trigger" href="#0"><span>What are your 2016-17 provincial priorities?</span></a>
				<div class="cd-faq__content">
          <div class="text-component">
            <p>Our current priority areas are:Ontario</p>
				</div> <!-- cd-faq__content -->
			</li>

			
		</ul> <!-- cd-faq__group -->

		<ul id="account" class="cd-faq__group">
			<li class="cd-faq__title"><h2>Ontario Palliative Care</h2></li>
			<li class="cd-faq__item">
				<a class="cd-faq__trigger" href="#0"><span>Is your focus disease- or age-specific?</span></a>
				<div class="cd-faq__content">
          <div class="text-component">
            <p>
			No. Our work is person-centred and focused on supporting the provision of quality hospice palliative care for all Ontarians regardless of age or disease type.
			</p></div>
				</div> <!-- cd-faq__content -->
			</li>

		
		</ul> <!-- cd-faq__group -->

		<ul id="payments" class="cd-faq__group">
			<li class="cd-faq__title"><h2>Care provider</h2></li>
			<li class="cd-faq__item">
				<a class="cd-faq__trigger" href="#0"><span>Will Regional Palliative Care Networks follow a single "cookie cutter" approach?</span></a>
				<div class="cd-faq__content">
          <div class="text-component">
            <p>As we move toward 14 Regional Palliative Care Networks, we will work with hospice palliative care leaders to establish common elements for the regional programs while recognizing the need for local customization. There’s already great work being done in the regions and the provincial team hopes to learn from the regions and share best practices across the province.</p>
			</div>
				</div> <!-- cd-faq__content -->
			</li>

			
		</ul> <!-- cd-faq__group -->

		<ul id="delivery" class="cd-faq__group">
			<li class="cd-faq__title"><h2>Funding Information</h2></li>
			<li class="cd-faq__item">
				<a class="cd-faq__trigger" href="#0"><span>What if our region already has a regional network and governance structure in place?</span></a>
				<div class="cd-faq__content">
          <div class="text-component">
           <p>
		   As we move toward 14 Regional Palliative Care Networks, we will work with hospice palliative care leaders to establish common elements for the regional programs while recognizing the need for local customization. There’s already great work being done in the regions and the provincial team hopes to learn from the regions and share best practices across the province.
		   </p>
				</div> <!-- cd-faq__content -->
			</li>

		

			 </div>
				</div> <!-- cd-faq__content -->
			</li>

		
		</ul> <!-- cd-faq__group -->
	</div> <!-- cd-faq__items -->

	<a href="#0" class="cd-faq__close-panel text-replace">Close</a>
  
  <div class="cd-faq__overlay" aria-hidden="true"></div>
</section> <!-- cd-faq -->
<script src="{% static 'chat/assets/js/util.js' %}"></script> <!-- util functions included in the CodyHouse framework -->
<script src="{% static 'chat/assets/js/main.js'%}"></script>
</body>
</html>